html {
  height: 100%;
}

body {
  background: #839B89;
  /* background-image: url("save-the-date.gif");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center; */
  font-family: times;
  margin: 0;
  padding: 0;
  height: 100%;

}

#wrapper {
  background-color: rgba(131, 155, 137, 0.9);
  height: 100%;
}

nav ol {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.25rem;
  border: solid #839B89 1px;
  border-top: none;
  border-bottom: none;
}

nav li:first-child {
  border-left: none;
}

nav li:last-child {
  border-right: none;
}

nav li.active {
  background-color: #839B89;
  padding: 1rem 0.5rem;
  border: none;
}

nav a {
  color: inherit;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

main {
  text-align: center;
  padding-bottom: 4rem;
}

@media screen and (min-width: 700px) {
  main {
    padding: 1rem 1rem 0 1rem;
    margin: 0 10vw;
    padding: 2rem;
  }

  nav li {
    border-width: 2px;
  }
}

img {
  width: 95%;
  max-width: 800px;
  max-height: 800px;
  margin-top: 1rem;
  border-radius: 16px;
}

/* Home */

main#home img.save-the-date {
  opacity: 0;
  transition: opacity 4s;
}

main#home img.save-the-date.show {
  opacity: 1;
}


/* Timeline */

main#timeline table {
  width: 100%;
  font-size: 1.2rem;
  border-collapse: collapse;
  text-align: left;
}

main#timeline td {
  vertical-align: top;
  padding: 0;
}

main#timeline td.date h2 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  margin: 2rem 0 0 0;
  color: rgba(255, 255, 255, 0.9);
}

main#timeline tr.event {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.75);
}

main#timeline tr.event > td {
  padding: 0.5rem;
}

main#timeline tr.event > td:first-child {
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
  padding-right: 0.5rem;
}


main#timeline tr.event > td:first-child:after {
  content: '-';
  padding-left: 0.5rem;
}

@media screen and (min-width: 700px) {
  main#timeline table {
    font-size: 1.6rem;
    width: auto;
    display: inline-block;
  }

  main#timeline td.date h2 {
    border-radius: 8px;
  }

  main#timeline tr.event {
    background-color: transparent;
  }

  main#timeline tr.event > td:first-child {
    padding-left: 2rem;
  }

  main#timeline tbody tr:last-child > td:first-child {
    border-radius: 0 0 0 8px;
  }

  main#timeline tbody tr:last-child > td:last-child {
    border-radius: 0 0 8px 0;
  }

}

/* Location */

main#location h2 {
  font-size: 1.5rem;
}

main#location h3 {
  margin-top: 2em;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
  padding: 0.3em 0;
  margin-bottom: 0;
}

main#location ul {
  margin: 0;
  padding: 1em;
  list-style: none;
  font-size: 1.2rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
}

main#location li {
  padding-bottom: 1.25em;
}


@media screen and (min-width: 700px) {
  main#location h2 {
    font-size: 2rem;
  }

  main#location h3 {
    font-size: 2rem;
    background-color: transparent;;
    color: inherit;
    padding: 0;
    margin-bottom: 0.2em;
  }

  main#location ul {
    font-size: 1.6rem;
    padding: 2em;
    border-radius: 8px;
  }
}

/* Location */

main#rsvp {
  height: 100%;
}

main#rsvp > iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  main#rsvp > iframe {
    width: 50vw;
  }
}


/* Lodging */

main#lodging ul,
main#lodging ol {
  list-style: none;
}

main#lodging > ol.toc {
  font-size: 1.5rem;
  line-height: 2rem;
}

main#lodging ul.offsite-options,
main#lodging ul.reserve-a-room {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
