html {
  height: 100%;
}

body {
  background: #839B89;
  /* background-image: url("save-the-date.gif");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center; */
  font-family: times;
  margin: 0;
  padding: 0;
  height: 100%;

}

#wrapper {
  background-color: rgba(131, 155, 137, 0.9);
  height: 100%;
}

nav ol {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.25rem;
}

nav li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.08);
}

nav li.active {
  background-color: #839B89;
  padding: 1rem 0.5rem;
}

nav a {
  color: inherit;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

main {
  display: flex;
}

main > section {
  margin: 0 auto;
  text-align: left;
  padding: 0.5rem;
  padding-bottom: 4rem;
  background-color: tranparent;
}

@media screen and (min-width: 700px) {
  main {
    padding: 1rem 1rem 0 1rem;
    margin: 0 10vw;
  }

  main > section {
    text-align: left;
    padding: 2rem;
    border-radius: 8px;
  }
}

/* Home */

main#home img.save-the-date {
  width: 95%;
  max-width: 1200px;
  margin: 1rem auto 0 auto;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 4s;
}

main#home img.save-the-date.show {
  opacity: 1;
}


/* Timeline */

main#timeline > section table {
  font-size: 1.2rem;
  border-collapse: collapse;
}

main#timeline > section td {
  vertical-align: top;
  padding: 0;
}

main#timeline > section td.date h2 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  border-radius: 8px 8px 0 0;
  margin: 2rem 0 0 0;
  color: rgba(255, 255, 255, 0.9);
}

main#timeline > section tr.event {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.75);
}

main#timeline > section tr.event > td {
  padding: 0.5rem;
}

main#timeline > section tr.event > td:first-child {
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
  padding-right: 0.5rem;
}

main#timeline > section tbody tr:last-child > td:first-child {
  border-radius: 0 0 0 8px;
}

main#timeline > section tbody tr:last-child > td:last-child {
  border-radius: 0 0 8px 0;
}

main#timeline > section tr.event > td:first-child:after {
  content: '-';
  padding-left: 0.5rem;
}

@media screen and (min-width: 700px) {
  main#timeline > section {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3rem;
    padding-top: 1rem;
  }

  main#timeline > section table {
    font-size: 1.6rem;
  }

  main#timeline > section td.date h2 {
    border-radius: 8px;
  }

  main#timeline > section tr.event {
    background-color: transparent;
  }

  main#timeline > section tr.event > td:first-child {
    padding-left: 2rem;
  }
}
